body {
  padding-top: 56px;
}

.toc {
  height: 600px;
  width: 300px;
  background-color: lightgray;
  position: fixed;
  overflow: scroll;
}

.toc ul {
  height: 106%;
  padding-left: 0;
}

.toc li {
  padding: 10px 0 10px 30px;
  border: 1px solid black;
  border-bottom-width: 0;
  list-style-type: none;
}

.toc_link {
  color: black;
}

.container {
  width: 70vw;
  margin-left: 300px;
  padding-top: 20px;
}

.content {
  padding-top: 70px;
  padding-left: 50px;
}

.tab {
  margin-left: 20px;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#axis td {
  text-align: right;
  border-width: 0;
}

#active {
  background-color: rgb(17, 233, 17);
}

#waiting {
  background-color: yellow;
}

.display_flex {
  display: flex;
  justify-content: space-between;
}

.no_border {
  border-width: 0px;
}
