body {
  padding-top: 56px;
  padding-bottom: 56px;
}

.toc {
  height: 600px;
  width: 300px;
  background-color: lightgray;
  position: fixed;
  text-align: center;
}

.container {
  width: 70vw;
  margin-left: 300px;
  padding-top: 20px;
}

.content {
  padding-top: 70px;
  padding-left: 50px;
}

.proof {
  padding-top: 70px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style-type: circle;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}
