body {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: serif;
  font-size: 18px;
}

.toc {
  height: 90%;
  width: 300px;
  background-color: lightgray;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.toc ul {
  padding-left: 0;
}

.toc li {
  padding: 10px 0 10px 30px;
  border: 1px solid black;
  border-bottom-width: 0;
  list-style-type: none;
}

.toc_link {
  color: black;
}

.container {
  margin-left: 300px;
  padding-top: 20px;
}

.content {
  padding-top: 70px;
  padding-left: 50px;
}

.proof {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin-top: 5px;
  padding-left: 5px;
}

.proof li {
  list-style-type: circle;
}

#inzz, #ev_hom, #ev_ker, #prime_ideal, #gcd_lin_comb, #f_irreducible {
  padding-top: 70px;
}
